/* General Styles */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    background-color: #f0f2f5;
  }
  
  .Link {
    color: black;
    font-size: 16px;
    font-weight: bold;
  }
  
  .box {
    max-width: 600px;
    margin: 200px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  /* Ant Design Form Customization */
  .ant-form-item-label > label {
    font-weight: bold;
  }
  
  .ant-input,
  .ant-input-password {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
  }
  
  .variant-group {
    display: flex;
    flex-direction: column;
  }
  
  .variant-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .variant-item .ant-checkbox-wrapper {
    margin-right: 8px;
  }
  
  .variant-price-input {
    margin-left: 8px;
    width: 100%; /* Adjust width as needed */
  }
  
  .ant-btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #ff4d4f;
    border-color: #ff4d4f;
    border-radius: 4px;
  }
  
  .ant-btn-primary:hover,
  .ant-btn-primary:focus {
    background-color: #ff7875;
    border-color: #ff7875;
  }
  
  .image-preview {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .image-preview img {
    max-width:100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .box {
      padding: 20px;
    }
  
    .heading {
      font-size: 20px;
      margin-bottom: 15px;
    }
  
    .ant-form-item-label {
      flex: 0 0 100%;
      max-width: 100%;
      text-align: left;
    }
  
    .ant-form-item-control {
      flex: 0 0 100%;
      max-width: 100%;
    }
  
    .variant-item {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .variant-price-input {
      margin-left: 0;
      margin-top: 4px;
    }
  
    .ant-btn-primary {
      width: 100%;
    }
  }
  